/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

header{
  display: block;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 85px;
  color: #4a4a4a;
  z-index: 1;
  top: 0;
  left: 0;
}

header .logo{
  font-size: 24px;
  font-family: 'Roboto-Mono-Regular';
  width: 25px;
  margin-left: 30px;
  position: relative;
  top:30px;
  border: none;
}

header nav ul{
  float:right;
}

header nav ul li {
  font-size: 16px;
  font-family: 'Robot-Regular';
  width: auto;
  margin: 10px;
  display:inline-grid;
  justify-items: space-between;
  line-height: 1.6;
}

.content nav ul:last-child{
  margin-right: 30px;
}

.icon{
  width: 10px;
  height: auto;
}

.main-content{
  margin-top: 90px;
}

#sign-up-section{
  background-image:url("../images/banner-landingpage.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

#sign-up-cta{
  background-color:#9dc20a;
  width: 550px;
  height: auto;
  text-align: center;
  position: relative;
  top: 170px;
  left: 100px;
  padding-top: 32px;
  padding-bottom: 56px;
}

.cursive{
  margin-bottom: 5px;
  font-size: 30px;
  color: white;
  font-family: 'Damion', cursive;
}

.striking{
  margin-bottom: 12px;
  color:white;
  font-size: 50px;
  font-family: 'Rubik-Regular';
  line-height: 1.4;
}

.email{
  margin-bottom: 26px;
  color: white;
  font-size: 20px;
  font-family: 'Roboto-Regular';
  line-height: 1.4;
  width: 400px;
  position: relative;
  left: 80px;
}

strong{
  font-weight: bold;
}

.button{
  background-color: #4a4a4a;
  border-radius: 4px;
  width: 408px;
  height: 64px;
  text-align: center;
  font-size: 24px;
  margin: auto;
  margin-top: 26px;
  font-size: 20px;
  color: white;
  font-family: 'Roboto-Medium';
  line-height: 1.4;
  border-width: 0px;
}

.image-container img{
  width: 250px;
  height: auto;
}

#features-section{
  display:grid;
  justify-content: center;
  justify-items: space-between;
  grid-template: 4fr / 1fr 1fr;
  column-rule: 38px;
  background-color: #f3f3f3;
  padding: 10px 50px;
}

.feature{
  background-color: white;
  height: 635px;
  width: auto;
  text-align: center;
  column-rule: 38px;
  margin: 64px 25px 46px 25px;
}

#features-section .feature .center .content{
  width: 80%;
  padding: 0px;
  height: 187px;
  margin: auto;
}

#features-section .feature .center .content h2{
  font-size:36px;
  color: #4a4a4a;
  font-family: 'Roboto-bold';
  line-height: 1.2;
}

#features-section .feature .center .content h3{
  font-size:16px;
  color: #4a4a4a;
  font-family: 'Roboto-light';
  line-height: 1.2;
}

.image-container{
  margin: 32px 32px 40px 32px;
}

.image-container img{
  height: 300px;
  width: 400px;
}


#filters-section{
  background-color:#4a4a4a;
  padding: 64px 0px 80px 0px;
  width: 100%;
  height: auto;
}

#filters-section .content{
  text-align: center;
}

#filters-section .content h2{
  opacity: 100%;
  font-size: 36px;
  color: white;
  font-family: 'Roboto-Bold';
}

#filters-section .content h3{
  color: white;
  font-size: 16px;
  font-family: 'Roboto-light';
  line-height: 1.4;
}

#filters-section .images-container{
  margin-right: 1%;
  margin-left: 1%;
  display:flex;
  justify-content: center;
  overflow:hidden;
}

#filters-section .images-container .image-container{
 width: 25%;
}


@media only screen and (min-width:500px) and (max-width:1300px) {
  .mobile{
    display:none;
  }
}


/* Quotes Section */

#quotes-section{
  color: #4a4a4a;
  font-size: 30px;
  font-family: 'Palatino-italic';
  line-height: 1.1;
  width: 100%;
  height: 180px;
  text-align: center;
}

#quotes-section .content{
  margin: 80px 0;
}

#quotes-section .content .quote{
  padding-right: 30px;
}


/*footer section */

footer{
  background-color: #9b9b9b;
  height: 62px;
}

footer .content{
  color: white;
  font-size: 12px;
  font-family: 'Roboto-Regular';
  position: relative;
  top: 32px;
}